<div class="container-fluid">
  <div class="product-container">
    <div class="card" *ngFor="let product of products">
      <img [src]="product.data().Image" class="card-img-top" alt="" style="width:300px;height: auto;" (click)="productDetails(product)">

      <div class="card-body" (click)="productDetails(product)">

        <h5 class="card-title text-center" >{{product.data().ProductName}}</h5>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="removeFromCart(product.id)">Remove from Cart</button>
      </div>
    </div>
    <p *ngIf="products.length == 0"> No Products added to cart <a href="">Add Here</a></p>
  </div>
</div>