/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.product-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .product-container>div{
        margin: 10px
    }